.header {
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentLeft{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  img {
    width: 2.75rem;
  }

  .searchBox{
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      width: 400px;
      background: transparent;
      outline: none;
      border: 1px solid gray;
      border-right: 0;
      border-radius: 5px 0 0 5px;
      padding: 0.5rem;
    }

    button {
      background: transparent;
      padding: 0.11rem;
      border: 1px solid gray;
      border-left: 0;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      &:hover {
        background: #ebecfc;
      }
    }

    .searchIcon {
      font-size: 1.5rem;
    }
  }
}

.contentRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  .logIn {
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    color: #171717;

    &:hover {
      text-decoration: underline;
      background: #ebecfc;
      border-radius: 4px;
    }
  }

  .createAccount{
    text-decoration: none;
    border: 1px solid #3b49df;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    color: #3b49df;
    font-weight: 500;

    &:hover {
      background: #3b49df;
      color: #ffffff;
      text-decoration: underline;
    }
  }
}